@using InvestmentPoint.Admin.Domain.Common
@model IEnumerable<CustomerModel>
@{
    ViewData["Title"] = "List Customer";
    Layout = "~/Views/Shared/Master/_AdminLayout.cshtml";
}

<style>
    #p1{
        overflow: scroll;
        height: 35em;
        width: 100%;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Customer</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Customer</a></li>
                    <li class="breadcrumb-item active">ListCustomer</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Customer - List</h3>
        <br />
       <form method="post">
            <div class="form-group">
                <label for="exampleInputAreaId1">Under the Employee - Customers</label>
                @Html.DropDownList("Id",ViewBag.Employees as IEnumerable<SelectListItem> ,"---Select Employee---", new {@class="form-control"})
                @*<select name="AreaId" class="form-control" asp-items="@ViewBag.Area"></select>*@<br />
                <input type="submit" value="Submit" formaction="/Customer/ListCustomer" class="btn btn-primary" />
            </div>
       </form>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0" id="p1">
        <table class="table table-striped projects onscroll" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile No.</th>
                    <th>Aadhar No.</th>
                    <th>Pan No.</th>
                    <th>Area No.</th>
                    <th>Address</th>
                    <th>Type Of Investment</th>
                    <th>Ammount</th>
                    <th>Collection Ammount</th>
                    <th>Ammount No.</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                }
                @foreach(var item in Model)
                {
                    index++;
                    <tr>
                        <td>@index</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.MobileNo</td>
                        <td>@item.AadharNo</td>
                        <td>@item.PanNo</td>
                        <td>@item.AreaName</td>
                        <td>@item.Address</td>
                        <td>@item.InvestmentName</td>
                        <td>@item.Amount</td>
                        <td>@item.CollectionAmount</td>
                        <td>@item.AccountNumber</td>
                        <td>@item.Password</td>
                        <td>
                            @*<a class="btn btn-info btn-sm" href="@Url.Action("EditEmployee","Employee", new{Id = item.Id})">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>*@
                            <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteEmployee","Employee", new{Id=item.Id})">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>